.wd-album-details {
    background-color: #282828;
    color: #ffffff;
    padding: 20px;
    border-radius: 5px;
}

.wd-album-details-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}

.wd-album-details-img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 20px;
}

.wd-album-details-info {
    display: flex;
    flex-direction: column;
}

.wd-album-details-title {
    margin: 0;
    font-weight: bold;
    font-size: 24px;
}

.wd-album-details-artist {
    margin: 5px 0;
    font-size: 18px;
}

.wd-album-details-release-date,
.wd-album-details-total-tracks {
    margin: 5px 0;
    font-size: 16px;
}

.wd-album-details-tracks {
    font-size: 16px;
}
