body,
html {
  height: 100%;
  margin: 0;
}

.root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.wd-container {
  min-height: 100vh;
  background-color: #000000;
}

.wd-summary-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  grid-gap: 16px;
  /*padding: 12px;*/
}

.wd-profile-summary-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 14px;
  /*padding: 12px;*/
}

.wd-summary-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 1rem;
  transition: transform 0.2s ease-in-out;
}

.wd-summary-card:hover {
  transform: scale(1.05);
}

.wd-summary-cover {
  width: 250px;
  height: 250px;
  border-radius: 5px;
}

.wd-summary-info {
  margin-top: 0.5rem;
}

.wd-summary-name {
  font-weight: bold;
  color: white;
}

.wd-summary-artist {
  font-weight: bold;
  color: lightgray;
}

.wd-summary-title {
  margin-top: 1rem;
  margin-left: 1rem;
}


.wd-bg-color-black {
  background-color: #191414;
}

.wd-link-no-decoration {
  text-decoration: none;
  color: inherit;
}

.wd-link-no-decoration:hover {
  text-decoration: none;
  color: inherit;
}


.wd-bookmark:hover {
  cursor: pointer;
  transform: scale(1.2);
  color: #999;
}

.wd-bookmark {
  color: #999;
}

.wd-bookmark-liked {
  cursor: pointer;
  color: #1db954;
  transform: scale(1.2);
}

.wd-width-95 {
  width: 95%;
}

.wd-width-90 {
  width: 90%;
}

.wd-width-85 {
  width: 85%;
}

/*upload image*/

.wd-avatar-container {
  width: 200px;
}

.wd-avatar-image {
  width: 160px;
  height: 160px;
  max-width: 100%;
  object-fit: cover;
}

.wd-avatar-input {
  display: none;
}

.wd-upload-avatar-button {
  background-color: #1db954;
  border-color: #1db954;
  color: #ffffff;
  font-weight: 500;
}

/*multi select style*/
.wd-multiselect-container {
  width: 100%;
  border: 1px solid #2d3436;
  border-radius: 4px;
  overflow: auto;
}

.wd-multiselect {
  width: 100%;
  height: auto;
  border: none;
  background: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.wd-multiselect option {
  display: block;
  padding: 10px;
  background-color: #282828;
  color: #b3b3b3;
  border-bottom: 1px solid #2d3436;
  font-size: 15px;
}

.wd-multiselect option:last-child {
  border-bottom: none;
}

.wd-multiselect option:checked,
.wd-multiselect option:hover {
  background-color: darkgreen;
  color: #fff;
}

.wd-cursor-pointer {
  cursor: pointer;
}

.wd-upload-new-album-button {
  background-color: #1db954;
  border: none;
  border-radius: 25px;
  color: white;
  cursor: pointer;
  font-family: 'Circular Std', Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition-duration: 0.2s;
}

.wd-upload-new-album-button:hover {
  background-color: #18a34e;
  color: white;
}


