.wd-navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem 2rem;
    background-color: #000;
    color: rgba(255, 255, 255, 0.8);
    font-size: 1.1rem;
    font-weight: bold;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1);
}



.wd-navbar-menu {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0;
    padding: 0;
    width: 100%;
}

.wd-navbar-username
.wd-navbar-menu-item {
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 100%;
}

.wd-navbar-username i
.wd-navbar-menu-item i {
    margin-right: 8px;
}

.wd-navbar-menu-item:hover {
    color: white;
}

