.wd-playlist-details {
    color: white;
    padding: 1rem;
}

.wd-playlist-details-header {
    display: flex;
    align-items: center;
}

.wd-playlist-details-img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-right: 1rem;
}

.wd-playlist-details-info {
    display: flex;
    flex-direction: column;
}

.wd-playlist-details-title {
    font-size: 2rem;
    margin: 0;
}

.wd-playlist-details-description {
    font-size: 1.2rem;
    font-weight: 300;
    margin: 0.5rem 0;
}

.wd-playlist-details-meta {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    font-size: 1rem;
}

.wd-playlist-details-tracks {
    margin-top: 2rem;
}

.wd-playlist-details-tracks h4 {
    margin-bottom: 1rem;
}

.wd-playlist-details-tracks ul {
    list-style: none;
    padding: 0;
}

.wd-playlist-details-tracks li {
    margin-bottom: 0.5rem;
}
