.wd-review-form {
    background-color: #181818;
    padding: 1rem;
    border-radius: 4px;
}

.wd-commenterName {
    font-weight: bold;
    color: #ffffff;
}

.wd-review-form-textarea {
    background-color: #282828;
    color: #ffffff;
    border: none;
    resize: none;
}

.wd-review-form-textarea::placeholder {
    color: #828282;
}

.wd-review-form-textarea:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(30, 215, 96, 0.25);
}

.btn-primary {
    background-color: #1db954;
    border: none;
}

.btn-primary:hover {
    background-color: #1ed760;
}
