.wd-track-item {
    padding: 10px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.wd-track-album-cover img {
    width: 60px;
    height: 60px;
}

.wd-track-info .wd-track-name {
    font-weight: 600;
}

.wd-track-info .wd-track-artists {
    font-size: 0.8rem;
}

.wd-track-album-name {
    font-size: 0.9rem;
    color: #999;
    margin-left: 10px;
    flex-grow: 1;
}

.wd-track-controls {
    position: relative;
}

.wd-track-controls audio {
    width: 180px;
    margin-right: 60px;
}

.wd-track-heart .bi {
    font-size: 1.2rem;
    color: #999;
    /*color: #1db954;*/
}

.wd-track-heart .bi:hover {
    cursor: pointer;
}


.wd-track-duration {
    font-size: 0.9rem;
    color: #999;
    margin-left: 15px;
}

@media (max-width: 768px) {
    .wd-track-controls audio {
        display: none;
    }
}


